<nav class="nav">
  <div class="wrap">
    <div class="brand">
      <span class="brand-mark">O-×–</span>
      <span class="full">E AI KING</span>
    </div>
    <div class="nav-links">
      <a href="#sobre">SOBRE</a>
      <a href="#obras">OBRAS</a>
      <a href="/videoclipes/">VIDEOCLIPES</a>
      <a href="/lado-b/">LADO B</a>
      <!-- <a href="https://srcaetano.github.io/eaiking.github.io/#sobre">SOBRE</a>
      <a href="https://srcaetano.github.io/eaiking.github.io/#obras">OBRAS</a>
      <a href="https://srcaetano.github.io/eaiking.github.io/videoclipes/">VIDEOCLIPES</a>
      <a href="https://srcaetano.github.io/eaiking.github.io/lado-b/">LADO B</a> -->
      <!--<a href="#">POSTS</a>-->
    </div>
  </div>
</nav>
